<div class="center">
    <div class="card">
        <section class="w3-container w3-center w3-content" style="max-width:3000px">
            <h2 class="w3-wide">Experience Details</h2>
            <div class="pos" *ngFor="let a of experienceList">
                <ul class="w3-justify">{{a.designation}}</ul>
                <ul class="w3-justify">{{a.companyname}}</ul>
                <ul class="w3-justify">{{a.yearOfExperience}}</ul>
                <ul class="w3-justify">{{a.description}}</ul>
            </div>
        </section>
    </div>
</div>